@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>View some clubs that didn't play!</h2>




<table class="table">
    <thead>
        <th>Host Name</th>
        <th>Guest Name</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
    </tbody>
</table>

