@page
@model IndexModel
@{
    ViewData["Title"] = "Edit page";
}

<h2>Do you really want to block this Fan?</h2> 

<form method="post">
    <label>National Id</label>
    <input type="text" name="nationalId"/>
    <input type="submit">
</form>