@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>New Stadium</h2> 

<form method="post">
    <label>Name</label>
    <input type="text" name="staduim_name"/>
    <label>Location</label>
    <input type="text" name="Locations"/>
    <label>Capacity</label>
    <input type = "text" name ="Capacity"/>
    <input type="submit">
</form>
