@page
@model IndexModel
@{
    ViewData["Title"] = "Edit page";
}

<h2>Do you really want to delete this Staduim?</h2> 

<form method="post">
    <label>Name</label>
    <input type="text" name="Staduim_name"/>
    <input type="submit">
</form>
