@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Register here!</h2> 

<form method="post">
    <label>Name</label>
    <input type="text" name="Fan_name"/>
    <label>National id</label>
    <input type ="text "name = "nationalId">
    <label>Username</label>
    <input type="text" name="username"/>
     <label>birthdate</label>
    <input type="datetime-local" name="birth_date">
    <label>phone number</label>
    <input type="text" name="Phone_num"/>
    <label>Addresss</label>
    <input type ="text "name = "Addresss">
    <label>Password</label>
    <input type ="text "name = "Passwords">
    <input type="submit">

</form>
