@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Datos Website!</h1>
    </div>

<h2>This is a very FUNctual Website!</h2>

<a href="/SystemAdmins">SystemAdmin page</a>
<a href="/SportsAssociationManager">Sports Association Manager page</a>
<a href="ClubRepresentative/">Club Representative page</a>
<a href="StaduimManager/">Staduim Manager Page</a>
<a href="Fans/">Fan Page</a>
