@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>New Club</h2> 

<form method="post">
    <label>Name</label>
    <input type="text" name="Club_name"/>
    <label>Location</label>
    <input type="text" name="Locations"/>
    <input type="submit">
</form>

