@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>View matches</h2>




<table class="table">
    <thead>
        <th>host id </th>
        <th>guest id</th>
        <th>start time</th>
        <th>end time</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var Match in Model.Matches)
        {
            <tr>
                <td>@Match.Hostname</td>
                <td>@Match.Guestname</td>
                <td>@Match.start_time</td>
                <td>@Match.end_time</td>
                <td><a href="/Club/Edit?id=@Match.id">Edit</a></td>
                <td><a href="/Club/Delete?id=@Match.id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

